.metadata
caches
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdt
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdx
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.frq
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tii
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tis
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
/workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
/workspace/judoku/target/classes/judoku/*.class
/workspace/judoku/target/classes/judoku/checkers/*.class
/workspace/judoku/target/classes/judoku/data/*.class
/workspace/judoku/target/classes/judoku/solvers/*.class
/workspace/judoku/target/test-classes/judoku/test/*.class
_backup/workspace/judoku/.classpath
_backup/workspace/judoku/.gitignore
_backup/workspace/judoku/.project
_backup/workspace/judoku/.settings/org.eclipse.jdt.core.prefs
_backup/workspace/judoku/pom.xml
_backup/workspace/judoku/src/main/java/judoku/checkers/CheckCellsForDuplicateFixedValuesInBlockOrLineOrColumn.java
_backup/workspace/judoku/src/main/java/judoku/checkers/CheckCellsForNoMorePotentialValuesAvailable.java
_backup/workspace/judoku/src/main/java/judoku/checkers/IConsistencyCheck.java
_backup/workspace/judoku/src/main/java/judoku/data/AbstractCellSet.java
_backup/workspace/judoku/src/main/java/judoku/data/Block.java
_backup/workspace/judoku/src/main/java/judoku/data/Cell.java
_backup/workspace/judoku/src/main/java/judoku/data/Column.java
_backup/workspace/judoku/src/main/java/judoku/data/Grid.java
_backup/workspace/judoku/src/main/java/judoku/data/Line.java
_backup/workspace/judoku/src/main/java/judoku/data/OneToNine.java
_backup/workspace/judoku/src/main/java/judoku/Debug.java
_backup/workspace/judoku/src/main/java/judoku/SodukoReverser.java
_backup/workspace/judoku/src/main/java/judoku/SodukoSolver.java
_backup/workspace/judoku/src/main/java/judoku/solvers/IfValueFixedToLineOrColumnInsideABlockThenDeleteFromRest.java
_backup/workspace/judoku/src/main/java/judoku/solvers/ISolvingAlgorithm.java
_backup/workspace/judoku/src/main/java/judoku/solvers/LastPotentialValueInBlockOrLineOrColumn.java
_backup/workspace/judoku/src/main/java/judoku/solvers/OnlyOnePotentialValueLeftInCell.java
_backup/workspace/judoku/src/test/java/judoku/test/TestSudokuSolver.java
_backup/workspace/scudoku/.cache-main
_backup/workspace/scudoku/.cache-tests
_backup/workspace/scudoku/.classpath
_backup/workspace/scudoku/.gitignore
_backup/workspace/scudoku/.project
_backup/workspace/scudoku/.settings/org.eclipse.jdt.core.prefs
_backup/workspace/scudoku/src/main/scala/scudoku/checkers/CheckCellsForFixDuplicateValues.scala
_backup/workspace/scudoku/src/main/scala/scudoku/checkers/CheckCellsForNoMorePotentialValuesAvailable.scala
_backup/workspace/scudoku/src/main/scala/scudoku/checkers/TConsistencyCheck.scala
_backup/workspace/scudoku/src/main/scala/scudoku/data/Block.scala
_backup/workspace/scudoku/src/main/scala/scudoku/data/Cell.scala
_backup/workspace/scudoku/src/main/scala/scudoku/data/CellSet.scala
_backup/workspace/scudoku/src/main/scala/scudoku/data/Column.scala
_backup/workspace/scudoku/src/main/scala/scudoku/data/Grid.scala
_backup/workspace/scudoku/src/main/scala/scudoku/data/Line.scala
_backup/workspace/scudoku/src/main/scala/scudoku/data/Main.scala
_backup/workspace/scudoku/src/main/scala/scudoku/data/UnknownOrOneToNine.scala
_backup/workspace/scudoku/src/main/scala/scudoku/Debug.scala
_backup/workspace/scudoku/src/main/scala/scudoku/solvers/IfValueFixedToLineOrColumnInsideABlockThenDeleteFromRest.scala
_backup/workspace/scudoku/src/main/scala/scudoku/solvers/LastPotentialValueInBlockOrLineOrColumn.scala
_backup/workspace/scudoku/src/main/scala/scudoku/solvers/OnlyOnePotentialValueLeftInCell.scala
_backup/workspace/scudoku/src/main/scala/scudoku/solvers/TSolvingAlgorithm.scala
_backup/workspace/scudoku/src/main/scala/scudoku/SudokuSolver.scala
_backup/workspace/scudoku/src/test/java/scudoku/test/TestSudokuSolver.java
_old/_backup/scudoku/.cache-main
_old/_backup/scudoku/.classpath
_old/_backup/scudoku/.gitignore
_old/_backup/scudoku/.project
_old/_backup/scudoku/.settings/org.eclipse.jdt.core.prefs
_old/_backup/scudoku/src/main/scala/scudoku/checkers/CheckCellsForFixDuplicateValues.scala
_old/_backup/scudoku/src/main/scala/scudoku/checkers/CheckCellsForNoMorePotentialValuesAvailable.scala
_old/_backup/scudoku/src/main/scala/scudoku/checkers/TConsistencyCheck.scala
_old/_backup/scudoku/src/main/scala/scudoku/data/Block.scala
_old/_backup/scudoku/src/main/scala/scudoku/data/Cell.scala
_old/_backup/scudoku/src/main/scala/scudoku/data/CellSet.scala
_old/_backup/scudoku/src/main/scala/scudoku/data/Column.scala
_old/_backup/scudoku/src/main/scala/scudoku/data/Grid.scala
_old/_backup/scudoku/src/main/scala/scudoku/data/Line.scala
_old/_backup/scudoku/src/main/scala/scudoku/data/Main.scala
_old/_backup/scudoku/src/main/scala/scudoku/data/UnknownOrOneToNine.scala
_old/_backup/scudoku/src/main/scala/scudoku/Debug.scala
_old/_backup/scudoku/src/main/scala/scudoku/solvers/IfValueFixedToLineOrColumnInsideABlockThenDeleteFromRest.scala
_old/_backup/scudoku/src/main/scala/scudoku/solvers/LastPotentialValueInBlockOrLineOrColumn.scala
_old/_backup/scudoku/src/main/scala/scudoku/solvers/OnlyOnePotentialValueLeftInCell.scala
_old/_backup/scudoku/src/main/scala/scudoku/solvers/TSolvingAlgorithm.scala
_old/_backup/scudoku/src/main/scala/scudoku/SudokuSolver.scala
_old/scudoku.zip
_old/setenv.bat
_old/src/workspace/scudoku/.cache
_old/src/workspace/scudoku/.classpath
_old/src/workspace/scudoku/.project
_old/src/workspace/scudoku/.settings/org.eclipse.jdt.core.prefs
_old/src/workspace/scudoku/bin/HelloWorld$.class
_old/src/workspace/scudoku/bin/HelloWorld$delayedInit$body.class
_old/src/workspace/scudoku/bin/HelloWorld.class
_old/src/workspace/scudoku/bin/sudoku/checkers/CheckerForDuplicateFixedValuesInBlockOrLineOrColumn.class
_old/src/workspace/scudoku/bin/sudoku/checkers/CheckerForNoMorePotentialValuesAvailable.class
_old/src/workspace/scudoku/bin/sudoku/checkers/IConsistencyCheck.class
_old/src/workspace/scudoku/bin/sudoku/Constants.class
_old/src/workspace/scudoku/bin/sudoku/CopyOfX.class
_old/src/workspace/scudoku/bin/sudoku/data/AbstractCellSet.class
_old/src/workspace/scudoku/bin/sudoku/data/Block.class
_old/src/workspace/scudoku/bin/sudoku/data/Cell.class
_old/src/workspace/scudoku/bin/sudoku/data/Column.class
_old/src/workspace/scudoku/bin/sudoku/data/Grid.class
_old/src/workspace/scudoku/bin/sudoku/data/Line.class
_old/src/workspace/scudoku/bin/sudoku/data/OneToNine.class
_old/src/workspace/scudoku/bin/sudoku/MyIntegerArraySet.class
_old/src/workspace/scudoku/bin/sudoku/MySet.class
_old/src/workspace/scudoku/bin/sudoku/QSortAlgorithm.class
_old/src/workspace/scudoku/bin/sudoku/SodukoReverser.class
_old/src/workspace/scudoku/bin/sudoku/SodukoSolver.class
_old/src/workspace/scudoku/bin/sudoku/solvers/IfValueFixedToLineOrColumnInsideABlockThenDeleteFromRest.class
_old/src/workspace/scudoku/bin/sudoku/solvers/ISolvingAlgorithm.class
_old/src/workspace/scudoku/bin/sudoku/solvers/LastPotentialValueInBlockOrLineOrColumn.class
_old/src/workspace/scudoku/bin/sudoku/solvers/OnlyOnePotentialValueLeft.class
_old/src/workspace/scudoku/bin/sudoku/SortAlgorithm.class
_old/src/workspace/scudoku/bin/sudoku/SortItem.class
_old/src/workspace/scudoku/bin/sudoku/X.class
_old/src/workspace/scudoku/bin/sudoku/Y.class
_old/src/workspace/scudoku/bin/testdata/Testcase1
_old/src/workspace/scudoku/bin/testdata/TestCase2
_old/src/workspace/scudoku/bin/testdata/Testcase3
_old/src/workspace/scudoku/bin/testdata/Testcase4
_old/src/workspace/scudoku/bin/testdata/Testcase5
_old/src/workspace/scudoku/bin/testdata/Testcase6
_old/src/workspace/scudoku/src/main/java/sudoku/checkers/CheckerForDuplicateFixedValuesInBlockOrLineOrColumn.java
_old/src/workspace/scudoku/src/main/java/sudoku/checkers/CheckerForNoMorePotentialValuesAvailable.java
_old/src/workspace/scudoku/src/main/java/sudoku/checkers/IConsistencyCheck.java
_old/src/workspace/scudoku/src/main/java/sudoku/Constants.java
_old/src/workspace/scudoku/src/main/java/sudoku/CopyOfX.java
_old/src/workspace/scudoku/src/main/java/sudoku/data/AbstractCellSet.java
_old/src/workspace/scudoku/src/main/java/sudoku/data/Block.java
_old/src/workspace/scudoku/src/main/java/sudoku/data/Cell.java
_old/src/workspace/scudoku/src/main/java/sudoku/data/Column.java
_old/src/workspace/scudoku/src/main/java/sudoku/data/Grid.java
_old/src/workspace/scudoku/src/main/java/sudoku/data/Line.java
_old/src/workspace/scudoku/src/main/java/sudoku/data/OneToNine.java
_old/src/workspace/scudoku/src/main/java/sudoku/QSortAlgorithm.java
_old/src/workspace/scudoku/src/main/java/sudoku/SodukoReverser.java
_old/src/workspace/scudoku/src/main/java/sudoku/SodukoSolver.java
_old/src/workspace/scudoku/src/main/java/sudoku/solvers/IfValueFixedToLineOrColumnInsideABlockThenDeleteFromRest.java
_old/src/workspace/scudoku/src/main/java/sudoku/solvers/ISolvingAlgorithm.java
_old/src/workspace/scudoku/src/main/java/sudoku/solvers/LastPotentialValueInBlockOrLineOrColumn.java
_old/src/workspace/scudoku/src/main/java/sudoku/solvers/OnlyOnePotentialValueLeft.java
_old/src/workspace/scudoku/src/main/java/sudoku/SortAlgorithm.java
_old/src/workspace/scudoku/src/main/java/sudoku/SortItem.java
_old/src/workspace/scudoku/src/main/java/sudoku/X.java
_old/src/workspace/scudoku/src/main/java/sudoku/Y.java
_old/src/workspace/scudoku/src/main/resources/testdata/Testcase1
_old/src/workspace/scudoku/src/main/resources/testdata/TestCase2
_old/src/workspace/scudoku/src/main/resources/testdata/Testcase3
_old/src/workspace/scudoku/src/main/resources/testdata/Testcase4
_old/src/workspace/scudoku/src/main/resources/testdata/Testcase5
_old/src/workspace/scudoku/src/main/resources/testdata/Testcase6
_old/src/workspace/scudoku/src/main/scala/HelloWorld.scala
_old/start_eclipse3.7.1.bat
_old/start_eclipse4.5.bat
_old/start-scalaide.bat
setenv.bat
start_scalaide.bat
workspace/scudoku/.cache-main
workspace/scudoku/.cache-tests
workspace/scudoku/.settings/org.eclipse.jdt.core.prefs
workspace/judoku/.settings/org.eclipse.jdt.core.prefs
